<center>
<h1 style="color:blue">Listing the details</h1>
<table border="1px solid black;border-spacing: 5px;">
	<tr style="color:red">
		<th>First_name</th>
		<th>Last_name</th>
		<th>Email_address</th>
		
	</tr>
	<% @students.each do |student|%>
	<tr>
		<td><%= student.firstname%></td>
		<td><%= student.lastname%></td>
		<td><%= student.email%></td>
		
		<td><%= link_to 'Edit_User', student_edit_path(student)%></td>
		<td><%= link_to 'Destroy',student_destroy_path(student),method: :delete,data: {confirm:'Are you sure'} %></td>
		
	</tr>
	<%end%>
</table></br></br>
<p style="color:blued">	Click here to create new profile <%= link_to 'New_user?', student_new_path%></p>
	 Click here to Profile page <%= link_to 'Profile page?', student_profile_path%></p>
</center>